<div class="faq-container">
  <h2>Frequently asked questions</h2>
  <ul *ngFor="let question of questions; let index = index">
    <li (click)="panelOpenState = !panelOpenState">
      <div class="question">
        <img
          [src]="
            panelOpenState
              ? '../assets/dark-circle.svg'
              : '../assets/light-circle.svg'
          "
          [alt]="panelOpenState ? 'Expanded' : 'Collapsed'"
          [ngClass]="panelOpenState ? 'dark-circle' : 'light-circle'"
          class="circle"
        />
        <div class="question-text">
          {{ question.question }}
        </div>
        <img
          [src]="
            panelOpenState
              ? '../assets/expand-icon.svg'
              : '../assets/collapse-icon.svg'
          "
          [alt]="panelOpenState ? 'Expanded' : 'Collapsed'"
          [ngClass]="panelOpenState ? 'expanded-icon' : 'collapsed-icon'"
          class="expander"
        />
      </div>
      <div class="answer" *ngIf="panelOpenState">{{ question.answer }}</div>
    </li>
  </ul>
</div>
